
    <div class="row">
        <div class="col-md-3 page-num-info">
            每页显示
            <select  data-ng-model="ngRows">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </select>
            记录,共{{totalItems}}条记录
        </div>
        <div class="col-md-3 text-right pagination-container">
            <ul class="pagination-sm pagination ng-isolate-scope ng-valid">
                <li><a href='' ng-click="changePage('first')">{{firstText}}</a></li>
                <li><a href="" ng-click="changePage(-1)">{{previousText}}</a></li>
                <li><a href="">{{ngPage}}</a></li>
                <li><a href="" ng-click="changePage(1)">{{nextText}}</a></li>
                <li><a href='' ng-click="changePage('last')">{{lastText}}</a></li>
            </ul>
        </div>
        <div class="col-md-3 text-right pagination-container">
            跳转到
            <input data-ng-model="ngPage" type="number" min="1"  max="{{totalPages}}" style="width: 40px"/>
            <input type="button" style="height: 22px;" data-ng-click="ngChange(ngPage);" value="跳转"/>
            页,共{{totalPages}}页
        </div>
    </div>