.password-input{
  width: 200px;
}

.password-input div{
  float:left;
  width: 27px;
  height: 27px;
  border: solid #ededed 1px;
  background: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 2px;
}

.password-input div.active{
  background-image: url('images/T1nYJhXalXXXXXXXXX.gif');
}

.password-input div.input{
  background-image: url('../images/T1sl0fXcBnXXXXXXXX.png');
}
